@charset "utf-8";

/* -------------------- reset -------------------- */

p.logo {
	float: left;
}


/* -------------------- layout -------------------- */

#contents {
	background: #ccbaa9;
}

main {
	color: #542c0b;
}

#wrapperPlus {
/*	background: url(../labo/img/labo_backimg.png) no-repeat center bottom/contain;*/
		background: url(../labo/img/labo_backimg.png) no-repeat center 3px;
	height: 250px;
}

#wrapper {
	padding: 50px 70px 0 70px;
	overflow: hidden;
	background: url(../labo/img/labo_repimg.png);
}

#aboutLabo {
	overflow: hidden;
}

#laboMember {
	overflow: hidden;
	clear: left;
}

.box1, .box2 {
	width: 270px;
	float: left;
	margin-bottom: 15px;
}

.box2 {
	color: #744818;
	margin-right: 34px;
}

.about {
	width: 530px;
	margin-bottom: 30px;
	float: right;
}

.right {
	margin: 0;
}

.left1 {
	width: 320px;
	float: left;
}

li.this {
	background: url(../img/nav_btn2.png) -170px bottom;
}


/* --------------------labo item -------------------- */

#wrapper h2 {
	font-size: 16px;
	/*  line-height: 3.0;*/
}

#wrapper h3 {
	font-size: 16px;
	border-bottom: 1px #542c0b solid;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

#wrapper h4 {
	line-height: 2.0;
}


ul.theme li {
	list-style-type: disc;
	margin-left: 2.0em;
	line-height: 1.6;
}


ul.gakureki li {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.5;
}

h2.Bsolid {
	padding-bottom: 0.2em;
	line-height: 1.5;
}

.Bsolid {
	border-bottom: 1px #542c0b solid;
}

.Bdashed {
	border-bottom: 1px #542c0b dashed;
}

p.Bsolid,
p.Bdashed {
	line-height: 1.7;
}

p.Bsolid {
	margin-bottom: 0.2em;
}

ul.gakureki {
	padding-bottom: 0.3em;
	margin-bottom: 0.5em;
	border-bottom: 1px #542c0b dashed;
}

.box2 p {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 0.5em;
}

p.catCap {
	text-align: right;
}

p.nameKanji {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px #542c0b solid;
}

.nameHira {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding-left: 1.0em;
}

p.photocenter {
	text-align: center;
}

p.prof1 {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px #542c0b dashed;
}

table {
	margin-bottom: 20px;
}

td,
th {
	padding: 3px 15px 3px 0;
}

.about p {
	margin-bottom: 10px;
	line-height: 1.5;
}

.aramaki {
	margin-bottom: 30px;
}

.aramaki a {
	/*	color: #542c0b;*/
	text-decoration: underline;
}

p.aramaki {
	margin-top: 20px;
	line-height: 1.5;
}


/* -------------------- 荒牧先生ページ -------------------- */

.aramaki {
	margin-bottom: 30px;
}

dl.aramakiHistory {
	margin-bottom: 30px;
}

dl.aramakiHistory dt,
dl.aramakiHistory dd {
	line-height: 1.5;
}

dl.aramakiHistory dt {
	float: left;
}

dl.aramakiHistory dd {
	margin-left: 11em;
}

dl.aramakiHistory p {
	line-height: 1.5;
}

ul.aramakiList {
	padding-left: 1.0em;
	list-style: square;
	margin-bottom: 30px;
}

ul.aramakiList li {
	line-height: 1.5;
}

li.aramakiVolcano {
	padding-left: 1.0em;
	list-style: none;
}


/*レスポンシブ*/
@media screen and (max-width:1019px) {
#wrapper {
	padding: 50px 20px 0;
	overflow: hidden;
	background: url(../labo/img/labo_repimg.png);
}

#laboMember {
	overflow: hidden;
	clear: left;
  margin-top: 60px;
}
.left1 {
	width: 35%;
	float: left;
}
.about {
	width: 60%;
	margin-bottom: 30px;
	float: right;
}
.box1, .box2 {
	width: 70%;
	float: none;
  margin: 0 auto 70px;
}
.catImg {
text-align: center;
}
}
@media screen and (max-width:767px) {
.sp_off {
display: none;
}
main {
background:#D7C19B;
}
#wrapperPlus {
  margin-top: 20px;
	height: 240px;
  background:#D7C19B url(../img/laboMain.svg) no-repeat center/contain;
}
#wrapper {
	padding: 50px 20px 0;
	overflow: hidden;
	background:#D7C19B;
}
.about p {
font-size: 14px;
}



.left1 {
	width: 100%;
	float: none;
}
.about {
	width: 100%;
	margin-bottom: 30px;
	float: none;
}

}

