@charset "utf-8";

/* -------------------- layout -------------------- */

#contents {
	height: 200px;
	background: #ccbaa9;
	overflow: hidden;
}

#container {
	background: #FFF;
}

main {
  width: calc(100% - 40px );
	overflow: hidden;
	background: #ffe4b2 url(../onsen/img/onsenTitle.png) no-repeat center 10px;
	/*  color:#542c0b;*/
	border-radius: 20px;
	margin: 20px;
}

li.this {
	background: url(../img/nav_btn2.png) right bottom;
}

/* -------------------- 温泉のボタンlayout -------------------- */

#onsenBtn {
	padding: 160px 0 0 77px;
}

ul.onsenBtn01 {
	overflow: hidden;
}

ul.onsenBtn01 li {
	float: left;
}

ul.onsenBtn01 li img {
	vertical-align: bottom;
}

li.imgbtm01 {
	padding-top: 20px;
}

li.imgbtm02 {
	padding-top: 80px;
}

p.bunken {
	text-align: right;
	display: block;
}

p.hitokoto {
	text-align: center;
	font-size: 0.8em;
	clear: left;
	margin: -1em 0 10px;
	line-height: 1.3;
}

/* -------------------- onsenList -------------------- */

#onsenAll {
	padding: 0 20px 20px;
	overflow: hidden;
}

#onsenAll li.kobetu {
	margin-bottom: 10px;
}

#onsenAll li.kobetu img {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 10px;
}

.onsen_info {
	width: 460px;
	overflow: hidden;
}
#onsenAll h2 {
width: 100%;
height: 140px;
text-align: center;
border-radius: 30px;
margin-bottom: 10px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
#onsenKyoretu h2 {
background: #603813 url(../img/kyoretu.svg) no-repeat center/contain;
}
#onsenKosei h2 {
background: #F7931E url(../img/koseiha.svg) no-repeat center/contain;
}
#onsenHitou h2 {
background: #991C59 url(../img/hitou.svg) no-repeat center/contain;
}
#onsenBangai h2 {
background: #62AC8D url(../img/bangai.svg) no-repeat center/contain;
}
#onsenKyoretu {
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}
#onsenKosei {
  float:right;
	overflow: hidden;
	margin-bottom: 20px;
}

#onsenHitou {
	overflow: hidden;
	margin-bottom: 20px;
  float: left;
  clear: both;
}

#onsenBangai {
	float:right;
	overflow: hidden;
	margin-bottom: 20px;
  margin-top: -300px;
}
#onsenHitou a.toggle {
	background: #981B58;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenBangai a.toggle {
	background: #61ab8c;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenKyoretu a.toggle {
	background: #5f3712;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

p.onsenTitle {
	margin-bottom: 10px;
}

#onsenLeft a.toggle {
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenKosei a.toggle {
	background: #f7931e;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

ul.inner {
	padding: 3px 8px 8px;
	background: #FFF;
}

li.onsenmei {
	line-height: 1.5;
	font-weight: bold;
	border-bottom: #5f3712 dashed 1px;
	margin-bottom: 5px;
	padding: 0 0.5em;
}

li.tokuchou {
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0.5em;
	line-height: 1.3;
	/*  color: #825836;*/
}

li.kaisetu {
	line-height: 1.4;
	font-size: 15px;
	margin-bottom: 10px;
}

p.mapS {
	float: right;
	margin: 0 0 10px;
  width: 100%;
}

p.mapGoogle {
	line-height: 2.0;
	text-align: right;
}

#onsenAll p.onsenphoto {
	/*  margin-bottom: 10px;*/
}

p.txt {
font-size: 15px;
line-height: 1.4;
}
li.more {
display: none;
}


#bunken {
	clear: both;
}

#bunken ul#bunkenList li {
	line-height: 1.5;
}


.onsen_info ul li.show {
display: none;
}

p.sensitu img {
	width: 428px;
	margin-right: 0;
	margin-bottom: 10px;
}

/*レスポンシブ*/
@media screen and (max-width:1019px) {
/* -------------------- layout -------------------- */

#contents {
	height: 200px;
	background: #ccbaa9;
	overflow: hidden;
}

#container {
	background: #ffe4b2;
}

main {
	overflow: hidden;
	background: #ffe4b2 url(../onsen/img/onsenTitle.png) no-repeat center 10px;
	/*  color:#542c0b;*/
	border-radius: 20px;
	margin: 20px;
}

/* -------------------- 温泉のボタンlayout -------------------- */
#onsenBtn img {
max-width: 100%;
}
#onsenBtn {
  width: 100%;
	padding: 160px 20px 50px;
  box-sizing: border-box;
  margin: 0 auto;
  
}

ul.onsenBtn01 {
padding-left: 20px;
box-sizing: border-box;
overflow: hidden;
margin-left: 50px;
}

ul.onsenBtn01 li {
	float: left;
  width: 14%;
  margin: 0.5%;
}
ul.onsenBtn01 li.kosei {
width: 22%;
}
ul.onsenBtn01 li img {
	vertical-align: bottom;
  max-width: 100%;
}

li.imgbtm01 {
	padding-top: 20px;
}

ul.onsenBtn01 li.imgbtm02 {
	padding-top: 80px;
  width: 8%;
}

p.bunken {
	text-align: right;
	display: block;
}

p.hitokoto {
	text-align: center;
	font-size: 0.8em;
	clear: left;
	margin: -1em 0 10px;
	line-height: 1.3;
}


/* -------------------- onsenList -------------------- */

#onsenAll {
	padding: 0 0 20px;
	overflow: hidden;
  box-sizing: border-box;
}

#onsenAll li.kobetu {
	margin-bottom: 10px;
}

#onsenAll li.kobetu img {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 10px;
}

.onsen_info {
width: 49%;
}
#onsenAll h2 {
height: 0;
padding-bottom: 31%;
border-radius: 16px;
margin-bottom: 10px;
}
#onsenAll h2 img {
max-width: 100%;
}

#onsenKosei {
	overflow: hidden;
	margin-bottom: 20px;
}

#onsenHitou {
	overflow: hidden;
	margin-bottom: 20px;
}

#onsenHitou a.toggle {
	background: #981B58;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenBangai {
	float: right;
	overflow: hidden;
	margin-bottom: 20px;
  margin-top: -300px;
}

#onsenBangai a.toggle {
	background: #61ab8c;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenKyoretu {
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}

#onsenKyoretu a.toggle {
	background: #5f3712;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

p.onsenTitle {
	margin-bottom: 10px;
}

#onsenLeft a.toggle {
	/*  background: #5f3712;*/
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenKosei a.toggle {
	background: #f7931e;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

ul.inner {
	padding: 3px 8px 8px;
	background: #FFF;
}

li.onsenmei {
	line-height: 1.5;
	font-weight: bold;
	border-bottom: #5f3712 dashed 1px;
	margin-bottom: 5px;
	padding: 0 0.5em;
}

li.tokuchou {
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0.5em;
	line-height: 1.3;
	/*  color: #825836;*/
}

li.kaisetu {
	line-height: 1.4;
	font-size: 15px;
	margin-bottom: 10px;
}

p.mapS {
	float: right;
	margin: 0 0 10px;
}

p.mapGoogle {
	line-height: 2.0;
	text-align: right;
}

#onsenAll p.onsenphoto {
text-align: center;
}

#bunken {
	clear: both;
}

#bunken ul#bunkenList li {
	line-height: 1.5;
}

}

/*個別*/
@media screen and (max-width:927px) {
#onsenBangai {
margin-top: -350px;
}
}
/*個別2*/
@media screen and (max-width:824px) {
#onsenBangai {
margin-top: -380px;
}
}
/*個別3*/
@media screen and (max-width:780px) {
#onsenBangai {
margin-top: -420px;
}

.onsen_info > ul {
display:block;
}
}

/*スマホ*/
@media screen and (max-width:640px) {
#contents {
	height: 200px;
	background: #ccbaa9;
	overflow: hidden;
}

#container {
	background: #ffe4b2;
}

main {
  width: 100%;
	overflow: hidden;
	background: #ffe4b2 url(../onsen/img/onsenTitle.png) no-repeat center 10px/contain;
	/*  color:#542c0b;*/
	border-radius: 20px;
	margin: 20px 0;
  padding-top: 50%;
}

li.this {
	background: url(../img/nav_btn2.png) right bottom;
}

/* -------------------- 温泉のボタンlayout -------------------- */

#onsenBtn {
display: none;
}

ul.onsenBtn01 {
padding-left: 20px;
box-sizing: border-box;
overflow: hidden;
margin-left: 50px;
}

ul.onsenBtn01 li {
	float: left;
  width: 14%;
  margin: 0.5%;
}
ul.onsenBtn01 li.kosei {
width: 22%;
}
ul.onsenBtn01 li img {
	vertical-align: bottom;
  max-width: 100%;
}

li.imgbtm01 {
	padding-top: 20px;
}

ul.onsenBtn01 li.imgbtm02 {
	padding-top: 80px;
  width: 8%;
}

p.bunken {
	text-align: right;
	display: block;
}

p.hitokoto {
	text-align: center;
	font-size: 0.8em;
	clear: left;
	margin: -1em 0 10px;
	line-height: 1.3;
  padding: 0 14px;
  text-align: left;
  box-sizing: border-box;
}
/* -------------------- onsenList -------------------- */

#onsenAll {
  width: 100%;
	padding: 0 10px 20px;
	overflow: hidden;
  box-sizing: border-box;
}

#onsenAll li.kobetu {
	margin-bottom: 10px;
}

#onsenAll li.kobetu img {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 10px;
}

#onsenAll h2 {
width: 100%;
height: 60px;
padding-bottom: 0;
text-align: center;
border-radius: 6px;
margin-bottom: 0;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
background:#361700;
}
#onsenKyoretu h2 {
background:#361700 url(../img/h2_01.svg) no-repeat center/260px 40px;
}
#onsenKosei h2 {
background: #361700 url(../img/h2_02.svg) no-repeat center/260px 40px;
}
#onsenHitou h2 {
background: #361700 url(../img/h2_03.svg) no-repeat center/160px 40px;
}
#onsenBangai h2 {
background: #361700 url(../img/h2_04.svg) no-repeat center/160px 40px;
}
#onsenKosei {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
  float: none;
}

#onsenHitou {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
  float: none;
}

#onsenHitou a.toggle {
	background: #981B58;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenBangai {
	width: 100%;
	float: none;
	overflow: hidden;
	margin-bottom: 10px;
  margin-top: 0;
  float: none;
}

#onsenBangai a.toggle {
	background: #61ab8c;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}


#onsenKyoretu {
	width:100%;
  padding: 0;
  box-sizing: border-box;
	float:none;
	overflow: hidden;
	margin-bottom: 10px;
}

#onsenKyoretu a.toggle {
	background: #5f3712;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

p.onsenTitle {
	margin-bottom: 10px;
}
p.txt {
font-size: 13px;
line-height: 1.3;
}
#onsenLeft a.toggle {
	/*  background: #5f3712;*/
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

#onsenKosei a.toggle {
	background: #f7931e;
	line-height: 3.0;
	color: #FFF;
	display: block;
	text-align: center;
}

ul.inner {
	padding: 3px 20px 8px;
	background: #FFF;
}

li.onsenmei {
	line-height: 1.5;
	font-weight: bold;
	border-bottom: #5f3712 dashed 1px;
	margin-bottom: 5px;
	padding: 0 0.5em;
}

li.tokuchou {
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0.5em;
	line-height: 1.3;
	/*  color: #825836;*/
}

li.kaisetu {
	line-height: 1.4;
	font-size: 15px;
	margin-bottom: 10px;
}

p.mapS {
	float: right;
	margin: 0 0 10px;
}

p.mapGoogle {
	line-height: 2.0;
	text-align: right;
}


#bunken {
	clear: both;
  margin-top: 60px;
}
#bunken p {
margin-bottom: 10px;
}
#bunken ul#bunkenList li {
	line-height: 1.5;
  font-size: 13px;
}

/*アコーディオン*/
.onsen_info > ul {
display: none;
}
li.kaisetu {
display: block;
}
.onsen_info ul li:nth-child(n+4) {
display: none;
}

#onsenHitou li.kobetu:nth-child(n+2),#onsenBangai li.kobetu:nth-child(n+2) {
display: none;
}
.onsen_info ul li:first-child {
margin-top: 10px;
}
.onsen_info ul li.more,.onsen_info ul li.show{
display: block;
width: 60%;
margin: 20px auto 10px;
border: 1px solid #361700;
height: 50px;
text-align: center;
line-height: 50px;
background: #FFFFFF;
color: #361700;
}