@charset "utf-8";
/* -------------------- reset -------------------- */
p.logo{
  float: left;
  width: 255px;
}
/* -------------------- layout -------------------- */
main {
  overflow:  hidden;
}
#contents {
  width: 28%;
/*  background: #ccc;*/
  float: left;
}
.wrapper {
  max-width:960px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 20px;
}
main {
}
.right {
  width: 680px;
/*  background: #ccc;*/
  float: right;
}
li.this {
  background: url(../img/nav_btn2.png) left bottom;
}
.asama00 {
  margin-bottom: 70px;
}
#kazan_sakura {
	width: 70%;
	float: right;
}
.cf {
  clear: both;
}
/* -------------------- takahashineko -------------------- */
#mate p{
  text-align: center;
  margin-top: 300px;
  color: #604c3f;
}

/* -------------------- contents -------------------- */

#contents li {
  padding : 2px 3px 2px;
	font-size: 0.8;
	border-bottom: 1px dashed #999;
}

#contents li a{
display: block;
color: #8c653e;
}
#contents li a:hover {
	color: #999;
}
#contents li.current a {
color: #000;
}


#contents ol.asamaContents li{
  font-size: 15px;
  line-height: 1.5	;
	padding-left: 1.0em	;
	list-style: disc;
}

/* -------------------- .right -------------------- */
h1 {
  font-size: 24px;
/*  margin-bottom: 0.25em;*/
/*  border-left: #F90 solid 8px;*/
/*  padding-left: 0.5em;*/
}
h2 {
  font-size: 22px;
  margin: 0 0 0.5em 0;
	padding-top: 1.0em;
}
h3 {
  font-size: 18px;
  margin-bottom: 0.3em;
  padding-top: 0.5em;
  line-height: 1.5;
/*  border-bottom: 1px solid #333;*/
}
h3.hajime {
  font-size: 18px;
  margin-bottom: 0;
  border-bottom: none;
  padding-top: 0.5em;
}
h4 {
  font-size: 18px;
  color: #633;
  margin-bottom: 10px;
  text-align: center;
}
dl.junbichu {
  margin-bottom: 0.8em;
}
dl.junbichu dt, dl.junbichu dd {
  line-height: 1.5;
}
p {
  line-height: 1.5;
}
article.setumei {
  width: 580px;
  padding: 1em;
  border: 1px solid #8A5634;
}
p.eng, p.writer {
  line-height: 1.5;
  color: #666;
}
span.shozoku {
  font-size:0.8em;
}
ol.mokuji {
  list-style: number;
  margin-left: 2.5em;
  margin-bottom: 1em;
}
ol.mokuji a {
  color:#333;
  text-decoration: underline;
}
ol.mokuji a:hover {
  text-decoration: none;
}
li {
  line-height: 1.5;
}
.right img {
  margin-bottom: 20px;
}
p.caption {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.4;
  padding-left: 3.8em;
  text-indent: -3.8em;
  margin-bottom: 10px;
}
p.captionL {
  font-size: 0.9em;
  line-height: 1.4;
  padding-left: 3.8em;
  text-indent: -3.8em;
  margin-bottom: 30px;
  padding-right: 2em;
}
p.photoCenter {
  text-align: center;
}
p.marginL {
  padding-left: 3.8em;
}
p.tume {
  margin-bottom:10px;
}
.right p.honbun {
  line-height: 1.5;
  text-indent: 1em;
  margin-bottom: 0.8em;
}
.honbunRed {
  color: #C00;
  font-weight: bold;
}
.honbunGreen {
  color: #396;
  font-weight: bold;
}
#kazan_sakura img{
	margin: 10px 0;
}
p.w100p {
	width: 100%;
}
p.w50p {
	width: 50%;
}
p.w49p {
	width: 49%;
}
p.w30p {
	width: 30%;
}
p.w65p {
	width: 65%;
}
p.right {
	float: right;
}
p.left {
	float: left;
}
p.mr3p {
	margin-right: 3%;
}
p.mb5 {
	margin-bottom: 5px;
}


/*レスポンシブ*/
@media screen and (max-width:767px) {
.wrapper {
  max-width:960px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 10px;
}

#contents {
  width: 100%;
  float: none;
  margin-bottom: 40px;
}

#contents ul {
overflow: hidden;
}
#contents li {
  width: 23%;
  margin: 0 1%;
  height: 80px;
  padding : 2px 3px 2px;
  box-sizing: border-box;
  line-height: 1.3;
	font-size: 13px;
	color: #8c653e;
	border-bottom: 1px dashed #999;
  float: left;
}
#contents li a{
display: block;
box-sizing: border-box;
padding: 16px 0 16px 0;
}

#kazan_sakura {
	width: 100%;
	float: none;
}

h1.kazan-title {
float: none;
width: 100%;
margin: 0;
font-size: 22px;
}

#kazan_sakura h2 {
font-size: 18px;
margin-bottom: 20px;
}
#kazan_sakura h3 {
font-size: 20px;
}

#kazan_sakura p {
font-size: 14px;
}

.kazan-literature {
font-size: 13px;
line-height: 1.3;
}



}




